<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.name}} Project</title>
    <style>
        body
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <h1>{{ request.name}} Projects</h1>
    <ul>
        {% for Project in projects %}
        <li>{{ Project.name}}</li>
        {% endfor %}
    </ul>
    <form method="POST" action="/create_project">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Add new Project" />
        <button>Submit</button>
    </form>
</body>

</html>